<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOCcer Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear SOCcer Administrator, <br>
    <p>An error occured while processing job id: <b>{{job_id}}</b></p>

    <p><b>Parameters</b></p>
    <p><pre>{{params}}</pre></p>

    <p><b>Exception Information</b></p>
    <p><pre>{{error}}</pre></p>

    <p><b>Process Output</b></p>
    <p><pre>{{stdout}}</pre></p>

    <p>- SOCcer Team</p>
</body>

</html>
