h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
    font-weight: 700;
}

h5, h6,
.h5, .h6 {
    font-weight: 600;
}

nav {
    font-weight: 600;
}

a {
    color: #2a71a5;
    font-weight: 600;
}

select,
input[type="file"],
input[type="checkbox"],
input[type="checkbox"]~label,
input[type="radio"],
input[type="radio"]~label
{
    cursor: pointer;
}

hr {
    border-color: #eee;
}

.alert {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    border-left-width: 4px;
}

.alert-primary {
    border-left-color: #2a71a5;
}

.alert-secondary {
    border-left-color: #666;
}

.alert-success {
    border-left-color: #43784f;
}

.alert-danger {
    border-left-color: #f22613;
}

.alert-warning {
    border-left-color: #9d8336;
}

.alert-info {
    border-left-color: #3c767f;
}

.alert-light {
    border-left-color: #ddd;
}

.alert-dark {
    border-left-color: #555;
}

blockquote {
    margin: 0 0 1rem;
    padding: 0.5rem 1.2rem;
    border-left: 4px solid #ccc;
}

.text-primary {
    color: #2a71a5 !important;
}

.bg-primary {
    background-color: #2a71a5 !important;
}

.bg-primary-dark {
    background-color: #123e57;
}

.btn-primary {
    color: #fff;
    background-color: #2a71a5;
    border-color: #2a71a5;
}

.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:hover {
    color: #fff;
    background-color: #20557c;
    border-color: #20557c;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #2a7ba5;
    border-color: #2a7ba5;
}

.btn-outline-light.focus,
.btn-outline-light:focus,
.btn-outline-light:hover {
    text-decoration: underline;
}

.form-control {
    border: none;
    background-color: #f4f4f4;
}

.navbar-dark {
    background-color: #444;
}

.navbar-dark .navbar-nav .nav-link {
    color: #eee;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fafafa;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    font-size: 14px;
    transition: background-color .15s linear;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus {
    color: #2f2f2f !important;
    background-color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #2f2f2f;
    background-color: #fff;
    border-bottom-color: #14819b;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

/** Utility classes */
[disabled], [readonly] {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-none-auto {
    flex: 0 0 auto;
}

.flex-grow-auto {
    flex: 1 0 auto;
}

.font-weight-semibold {
    font-weight: 600;
}

.vh-100 {
    height: 100vh;
}

.shadow {
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.15)!important
}

.shadow-light {
    box-shadow: 0 .125rem .9rem rgba(0,0,0,.075)!important;
}

.text-muted {
    color: #595959 !important;
}

/** Adds a spin animation to the element */
.spinner {
    animation: spin 1s infinite linear;
}

/** Spin animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}