
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i");

/**
 * Font overrides
 */
@font-face{
    font-family: Montserrat;
    src: url("fonts/Montserrat-regular.eot") format("eot");
    src: url("fonts/Montserrat-regular.woff") format("woff");
    src: url("fonts/Montserrat-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: Montserrat;
    src: url("fonts/Montserrat-700.eot") format("eot");
    src: url("fonts/Montserrat-700.woff") format("woff");
    src: url("fonts/Montserrat-700.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    min-height: 100vh;
    font-family: "Noto Sans", "Century Gothic", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
nav {
    font-family: Montserrat, "Avant Garde", Arial, sans-serif;
}


/** AAA contrast overrides */
a {
    color:#3a539b;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:hover {
    color: #fff;
    background-color: #52297c;
    border-color: #52297c;
}

.bg-primary {
    background-color: #2a71a5 !important;
}

.bg-primary-dark {
    background-color: #123e57;
}

.btn-primary {
    color: #fff;
    background-color: #663399;
    border-color: #663399;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #7a3db6;
    border-color: #7a3db6;
}

.navbar-dark {
    background-color: #363636;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.9);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-nav .nav-item .nav-link {
    color: white;
    padding: 10px 20px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    font-size: 14px;
    transition: background-color .15s linear;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #2f2f2f !important;
    background-color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #2f2f2f;
    background-color: #fff;
    border-bottom-color: #14819b;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}

/** Utility classes */
[disabled], [readonly] {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-auto {
    flex: 1 0 auto;
}

/** Adds a spin animation to the element */
.spinner {
    animation: spin 1s infinite linear;
}

  /** Spin animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}