<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOCcer Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear SOCcer User, <br>
    <p>The file <b>{{filename}}</b> you uploaded using model version {{model_version}} on {{timestamp}} has been processed. You can view the results at: <a href="{{results_url}}">{{results_url}}</a>. This link will expire two weeks from today.</p>
    - SOCcer Team
</body>

</html>
