<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOCcer Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear SOCcer User, <br>
    <p>The file <b>{{original_filename}}</b> you uploaded using model version {{model_version}} on {{timestamp}} could not be processed due to an internal error. Please contact <a href="mailto:{{admin}}">{{admin}}</a> if this issue persists.</p>
    - SOCcer Team
</body>

</html>
